<h1>Events</h1>

<ul>
    <li><%= @event.name %><li>
    <li><%= @event.event_date %><li>
    <li><%= @event.location %><li>
    <li>Creator: <%= @event.creator.name %><li>
  
</ul>

<% if @event.creator == current_user %>
  <%=form_with scope: :attendance, url: attendances_path(id: @event) do |form| %>
    <%=form.collection_select :attendee, User.order(:name), :id, :name %>
    <%= form.submit 'Add attendee' %>
  <% end %>
<% end %>

<h2>Attendees</h2>
<ul>
  <% @event.attendees.each do |attendee| %>
    <li><%= attendee.name %><li>
  <% end %>
</ul>